extends layout

block title
	title Sirop

block content
	div.promo
		div.welcome
			div.welcome__wrapper
				div.welcome__logo.wow.rubberBand
					img(src="assets/images/content/logo-sirop.png", class="welcome__logo-img", alt="Сироп логотип")
				div.welcome__circle
					div.welcome__circle-info
						h1.welcome__circle-title Доставка на дом свежих продуктов
						p.welcome__circle-text Нам предстояло разработать интернет-магазин с удобным функционалом и современным дизайном.
				span.welcome__rotate-txt Интернет -магазин
		div.main-page
			div.main-page__wrapper.wow.slideInUp
				div.main-page__img
					img(src="assets/images/content/main-page-img.jpg", class="main-page__img-pic", alt="Пример первой страницы")
				div.main-page__info
					div.main-page__title.wow.slideInRight
						span.main-page__title-red Главная
						span.main-page__title-white Страница
					div.main-page__txt-block.wow.slideInUp
						p.main-page__rotate-txt Первый экран
						p.main-page__txt Главная страница состоит из универсальных блоков, содержащих различные предложения, популярные товары, преимущества магазина.
						p.main-page__txt На первом экране мы разместили красочный динамичный баннер, который привлекает внимание посетителя к новым предложениям магазина.
					div.main-page__txt-block
						p.main-page__rotate-txtlines Рецепты
						p.main-page__txt Популярные продукты вынесены в слайдер, все товары маркированы иконками.
						p.main-page__txt Рецепты состоят в отдельном блоке.
		div.bg-gray
	div.catalog
		div.catalog__wrapper
			div.catalog__title.wow.slideInLeft
				span.catalog__title-black Каталог
				span.catalog__title-red товаров
			div.catalog__info.wow.slideInLeft
				p.catalog__rotate-txt Фильтр
				p.catalog__txt В каталог интегрирована подробная система фильтрации товаров, пользователь может выбрать категорию, вес, ориентировочну цену и многие другие параметры, чтобы ознакомится только с продукцией, подходящей требованиям.
			div.catalog__img.wow.slideInUp
				img(src="assets/images/content/catalog.jpg", class="catalog__img-pic", alt="Внешний вид каталога")
	div.product
		div.product__wrapper
			div.product__info.wow.slideInLeft
				p.product__rotate карточка товара
				p.product__txt Карточка товара содержит исчерпывающую информацию о продукте, включая описание, производителя и многое другое.
				p.product__txt Предусмотрен выбор товара в упаковках или на вес, сделано это посредством переключения вкладок.
			div.product__img.wow.slideInRight
				img(src="assets/images/content/product.png", class="product__img-pic", alt="Карточка продукта")
	div.order
		div.order__wrapper
			div.order__info.wow.slideInDown
				p.order__title
					span.order__title-white Оформление
					span.order__title-red заказа
				p.order__txt Для удобства пользователя все товары в корзине сформированы по группам, мы добавили возможность изменить количество товара, добавить в избранное.
			div.order__img.wow.slideInUp
				img(src="assets/images/content/order-choice.jpg", class="order__img-pic", alt="Выбор товаров")
			div.order__images
				img(src="assets/images/content/order-total-1.jpg", class="order__images-pic", alt="Выбор товаров")
				img(src="assets/images/content/order-total-2.jpg", class="order__images-pic", alt="Выбор товаров")
				img(src="assets/images/content/order-total-3.jpg", class="order__images-pic", alt="Выбор товаров")
				p.order__extra-info.wow.zoomIn Многоступенчатая карточка оформления заказа, включает возможность оплатить часть покупок бонусам
			div.order__fav-images
				img(src="assets/images/content/order-favorite-1.jpg", class="order__fav-images-pic", alt="Добавить в избранное")
				img(src="assets/images/content/order-favorite-2.jpg", class="order__fav-images-pic", alt="Добавить в избранное")
				img(src="assets/images/content/order-favorite-3.jpg", class="order__fav-images-pic", alt="Добавить в избранное")
				p.order__extra-infofav.wow.zoomIn Любой продукт можно добавить в список избранных товаров. Мы добавили возможность сформировать группы из любимых прод
	div.cabinet
		div.cabinet__wrapper
			div.cabinet__half.wow.rotateInDownRight
				p.cabinet__title
					span.cabinet__title-black Личный
					span.cabinet__title-red Кабинет
				div.cabinet__images
					img(src="assets/images/content/cabinet-profile.jpg", class="cabinet__images-pic", alt="Кабинет профиль")
					img(src="assets/images/content/cabinet-adress.jpg", class="cabinet__images-pic", alt="Кабинет адресная книга")
				p.cabinet__txt Личный кабинет содержит всю информацию о произведенных заказах, с возможностью в любое время повторить заказ, историю начисления бонусов, адресную книгу и многое другое.
			div.cabinet__half.wow.rotateInDownLeft
				div.cabinet__enter-img
					img(src="assets/images/content/enter.jpg", class="cabinet__enter-img-pic", alt="Вход в личный кабинет")
				p.cabinet__personal-txt В правой части экрана фиксируется меню личного кабинета, а также кракая информация с данными профиля пользователя.
				div.cabinet__personal-img
					img(src="assets/images/content/cabinet-personal-data.jpg", class="cabinet__personal-img-pic", alt="Кабинет персональные данные")
	div.adaptability
		div.adaptability__wrapper
			div.adaptability__info
				div.adaptability__text
					p.adaptability__title адаптивный дизайн
					p.adaptability__txt На всех типах устройств сайт выглядит безупречно, при любом размере экрана.
			div.adaptability__imgs
				img(src="assets/images/content/tablet-1.png", class="adaptability__imgs-pic wow slideInLeft", alt="Адаптивный сайт на планшете")
				img(src="assets/images/content/phone-1.png", class="adaptability__imgs-pic wow slideInDown", alt="Адаптивный сайт на планшете")
				img(src="assets/images/content/phone-2.png", class="adaptability__imgs-pic wow slideInUp", alt="Адаптивный сайт на планшете")
				img(src="assets/images/content/tablet-2.png", class="adaptability__imgs-pic wow slideInRight", alt="Адаптивный сайт на планшете")
	div.thanks
		div.thanks__wrapper
			div.thanks__title.wow.tada
				span.thanks__title-black Спасибо
				span.thanks__title-red за внимание