//default settings

html {
    box-sizing: border-box;
    font-family: MuseoSansCyrl, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    box-sizing: content-box;
}

.promo{
	position: relative;
}

.bg-gray{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-image: url("../images/content/bg-gray.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}