@font-face {
    font-family: 'Conv_TT Compotes Apple';
    src: url('fonts/TT Compotes Apple.eot');
    src: local('☺'), url('../fonts/compotesapple/normal/TT Compotes Apple.woff') format('woff'), url('../fonts/compotesapple/normal/TT Compotes Apple.ttf') format('truetype'), url('../fonts/compotesapple/normal/TT Compotes Apple.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}