@font-face {
    font-family: 'MuseoSansCyrl';
    src: url('fonts/ofont.ru_Museo Sans Cyrl 300.eot');
    src: local('☺'), url('../fonts/museo/normal/ofont.ru_Museo Sans Cyrl 300.woff') format('woff'), url('../fonts/museo/normal/ofont.ru_Museo Sans Cyrl 300.ttf') format('truetype'), url('../fonts/museo/normal/ofont.ru_Museo Sans Cyrl 300.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ofont.ru_Museo Sans Cyrl 700';
    src: url('fonts/ofont.ru_Museo Sans Cyrl 700.eot');
    src: local('☺'), url('../fonts/museo/bold/ofont.ru_Museo Sans Cyrl 700.woff') format('woff'), url('../fonts/museo/bold/ofont.ru_Museo Sans Cyrl 700.ttf') format('truetype'), url('../fonts/museo/bold/ofont.ru_Museo Sans Cyrl 700.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_ofont.ru_Museo Sans Cyrl 900';
    src: url('fonts/ofont.ru_Museo Sans Cyrl 900.eot');
    src: local('☺'), url('../fonts/museo/black/ofont.ru_Museo Sans Cyrl 900.woff') format('woff'), url('../fonts/museo/black/ofont.ru_Museo Sans Cyrl 900.ttf') format('truetype'), url('../fonts/museo/black/ofont.ru_Museo Sans Cyrl 900.svg') format('svg');
    font-weight: black;
    font-style: normal;
}