/* adaptability media*/


@include respond(1500px) {

    .adaptability__wrapper {
        max-width: 1200px;
    }

    .adaptability__imgs-pic {
        max-width: 350px;

        &:nth-child(3) {
            top: -80px;
        }
    }
}


@include respond(1280px) {

    .adaptability__wrapper {
        max-width: 900px;
        padding: 0 10px;

        &:after {
            width: 300px;
            height: 176px;
            left: 300px;
            top: -90px;
        }
    }

    .adaptability__info {
        flex-direction: row;
        margin-right: 0;
    }

    .adaptability__text {
        flex-direction: row;
        width: auto;
        align-items: baseline;
    }

    .adaptability__txt {
        width: auto;
    }

    .adaptability__title {
        margin-right: 40px;
        font-size: 20px;
        line-height: 25px;

        &:after{
            top: -20px;
        }
    }

    .adaptability__imgs-pic{
        max-width: 250px;
    }

    .adaptability__imgs-pic {

        &:nth-child(2) {
            max-width: 15 px;
        }

    }

    .adaptability__imgs-pic {

        &:nth-child(3) {
            max-width: 150px;
        }
    }
}

@include respond(1024px) {

    .adaptability__wrapper {
        max-width: 700px;

        &:after{
            display: none;
        }
    }

     .adaptability__imgs-pic {
        max-width: 200px;
    }

    .adaptability__imgs-pic {

        &:nth-child(2){
            max-width: 120px;
        }

    }
    .adaptability__imgs-pic {

        &:nth-child(3) {
            max-width: 120px;
            top: -20px;
        }

    }

}

@include respond(760px) {

    .adaptability__wrapper {
        max-width: 320px;
    }

    .adaptability__text {
        flex-direction: column;
    }

    .adaptability__title {
        font-size: 15px;
        letter-spacing: 5px;
        line-height: 20px;
        margin-top: 60px;
        text-align: left;

        &:after {
            left: 0;
            top: -5px;
        }
    }

    .adaptability__txt {
        font-size: 12px;
        line-height: 16px;
    }

    .adaptability__imgs {
        flex-wrap:wrap;
    }

    .adaptability__imgs-pic {
        width: 100%;
        max-width: initial;
        margin-bottom: 10px;
    }

    .adaptability__imgs-pic {

        &:nth-child(2) {
             max-width: initial;
            top: 0;
        }
    }

    .adaptability__imgs-pic {

        &:nth-child(3) {
             max-width: initial;
            top: -20px;
            top: 0;
        }
    }
}