/* cabinet media*/

@include respond(1500px) {

    .cabinet__wrapper {
        max-width: 1200px;

        &:before {
            display: none;
        }
    }
}

@include respond(1280px) {

    .cabinet__wrapper {
        max-width: 900px;
        padding: 0 10px;
        padding-top: 40px;

        &:after {
            width: 100px;
            height: 141px;
            top: -40px;
        }
    }

    .cabinet__title {
        font-size: 60px;
        padding-top: 20px;

        &-red {
            position: relative;
            bottom: 0;
            left: 0;
            font-size: 60px;
        }
    }

    .cabinet__images {
        margin-bottom: 40px;
    }

    .cabinet__images-pic {
        max-width: 200px;
    }

    .cabinet__enter-img {
        margin-bottom: 50px;
    }

    .cabinet__personal-txt {
        font-size: 16px;
        line-height: 25px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
}

@include respond(1024px) {

    .cabinet__wrapper {
        width: 700px;
        padding-bottom: 20px;
    }

    .cabinet__title {
        font-size: 40px;
        margin-left: 0;
    }

    .cabinet__images-pic {
        max-width: 150px;
    }

    .cabinet__personal-txt {
        font-size: 14px;
        line-height: 16px;
    }

    .cabinet__txt {
        font-size: 14px;
        line-height: 16px;

        &:after {
            display: none;
        }
    }
}

@include respond(760px) {

    .cabinet__wrapper {
        max-width: 320px;
        flex-wrap:wrap;
    }

    .cabinet__half{
        width: 100%;

        &:first-child {
            padding: 0;
        }

        &:last-child {
            padding: 0;
        }
    }

    .cabinet__title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .cabinet__images-pic {
        max-width: 135px;
    }

    .cabinet__txt {
        padding-left: 0;
        margin-left: 0;
        font-size: 12px;
        line-height: 16px;
        width: auto;
    }

    .cabinet__personal-txt {
        padding-left: 0;
        margin-left: 0;
        font-size: 12px;
        line-height: 16px;
        width: auto;
    }

    .cabinet__enter-img-pic {
        width: 100%;
    }
}