/* catalog media*/

@include respond(1500px){


    .catalog__wrapper {
        max-width: 1200px;
        top: -550px;

        &:after {
            width: 400px;
            height: 400px;
            top: 100px;
        }
    }

    .catalog__title {
        font-size: 60px;

        &-red {
            font-size: 80px;
            left: 90px;
        }
    }

    .catalog__txt {
        padding-left: 250px;
    }

    .catalog__info {
        z-index: 1;
    }

    .catalog__img {
        margin-left: 30px;
    }
}

@include respond(1280px) {

    .catalog__wrapper {
        max-width: 900px;
        position: relative;
        top: 0;
    }

    .catalog__title {
        font-size: 40px;
        margin-bottom: 30px;

        &-red {
            font-size: 55px;
            left: 60px;
            bottom: -22px;
        }
    }

    .catalog__rotate-txt {
        font-size: 15px;
        letter-spacing: 5px;
        left: 20px;
        top: 40px;

        &:after {
            top: -4px;
            width: 70px;
        }
    }

    .catalog__txt {
        padding-left: 100px;
        max-width: 600px;
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
    }
}


@include respond(1024px) {

    .catalog__wrapper {
        width: 700px;
        padding-top: 20px;
    }

    .catalog__txt {
        font-size: 14px;
    }

    .catalog__title{
        margin-left: 20px;

        &-red {
            position: relative;
            left: 0;
            top: 0;
            margin-left: 10px;
        }
    }
}


@include respond(760px) {

    .catalog{
        min-height: auto;
    }

    .catalog__wrapper {
        max-width: 320px;
        &:after{
            display: none;
        }
    }

    .catalog__title {

        &-red{
            position: absolute;
            left: 40px;
            top: 0px;
        }
    }

    .catalog__rotate-txt {
        transform: initial;
        position: relative;
        text-align: left;
        left: initial;
        top: initial;

        &:after {
            top: -5px;
            right: initial;
            left: 0;
        }
    }

    .catalog__txt {
        padding-left: 0;
        font-size: 12px;
        line-height: 15px;
        width: auto;
    }
}