/* main-page media*/


@include respond(1500px) {

    .main-page__wrapper {
        max-width: 1200px;
    }

    .main-page__info {
        padding-top: 70px;
    }

    .main-page__title {
        font-size: 60px;
        margin-bottom: 70px;
        &-red{
            left: 100px;
            font-size: 80px;
        }
    }

    .main-page__txt-block {
        margin-bottom: 40px;
    }

    .main-page__rotate-txt {
        font-size: 25px;
    }

    .main-page__rotate-txtlines {
        font-size: 25px;
        left: -20px;
    }

    .main-page__txt {
        padding-left: 130px;
        width: 400px;
    }

}

@include respond(1280px) {

    .main-page{
        padding-bottom: 60px;
    }

    .main-page__wrapper {
        max-width: 900px;
    }

    .main-page__info {
        padding-top: 30px;
    }

    .main-page__title {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .main-page__title-red {
        left: 80px;
        font-size: 60px;
        top: -30px;
    }

    .main-page__rotate-txt {
        font-size: 15px;
        letter-spacing: 5px;
        left: -60px;
        top: 70px;

        &:after {
           top: -4px;
        }
    }

    .main-page__txt {
        padding-left: 60px;
        width: 430px;
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .main-page__rotate-txtlines {
        font-size: 15px;
        letter-spacing: 5px;
        left: -25px;
        top: 30px;

        &:after {
           top: -4px;
        }
    }
}

@include respond(1024px) {

    .main-page__wrapper {
        width: 700px;
        flex-direction: column-reverse;
    }

    .main-page__img {
        width: auto;
        left: 0;
        top: 0;
    }

    .main-page__txt {
        width: auto;
    }

    .main-page__txt-block {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .main-page__rotate-txtlines {
        top: 80px;
    }

    .main-page__title {

        &-red {
            position: relative;
            left: 0;
            top: 0;
            margin-right: 10px;
        }
    }

    .main-page__info{
        padding-left: 0;
    }
}

@include respond(760px) {

    .main-page__wrapper {
        max-width: 320px;
    }

    .main-page__title {
        &-red{
            position: absolute;
            left: 40px;
            top: -30px;
        }
    }

    .main-page__txt-block {
        padding-top:0;
    }

    .main-page__rotate-txt {
        transform: initial;
        position: relative;
        text-align: left;
        left: initial;
        top: initial;

        &:after{
            top: -5px;
            right: initial;
            left: 0;
        }
    }

    .main-page__info {
        min-width: auto;
    }

    .main-page__txt{
        padding-left: 0;
        font-size: 12px;
    }

    .main-page__rotate-txtlines {
        position: relative;
        transform: initial;
        left: initial;
        top: initial;
        text-align: left;
        &:after{
            left: 0;
            right: initial;
        }
    }
}