/* order media*/

@include respond(1500px) {

    .order__wrapper {
        max-width: 1200px;
        padding-top: 20px;
    }

    .order__info {
        padding-left: 480px;
    }

    .order__title {
        font-size: 60px;

        &-red{
            font-size: 80px;
            left: 120px;
        }
    }

    .order__txt {
        margin-left: 20px;
    }

    .order__img {

        &:after {
            right: -50px;
        }
    }

    .order__extra-info {

        left: -30px;
        padding-left: 65px;
        width: 450px;
    }

    .order__extra-infofav {
        right: 230px;
        bottom: -190px;
        padding-bottom: 50px;
    }
}


@include respond(1280px) {

    .order__wrapper {
        max-width: 900px;
        padding: 0 10px;
    }

    .order__title {
        font-size: 40px;
        margin-bottom: 30px;
        padding: 0 20px;

        &-red {
            font-size: 60px;
            left: 100px;
            bottom: -25px;
        }
    }

    .order__txt {
        margin-left: 20px;
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
        padding: 0 10px;
    }

    .order__img {

        &:after {
            display: none;
        }
    }

    .order__images {
        width: 880px;

        &-pic {
            width: 285px;
        }
    }

    .order__extra-info {
        left: 30px;
        bottom: -120px;
    }

    .order__fav-images {
        width: 880px;
        margin-left: 0;
    }
}

@include respond(1024px) {

    .order__wrapper {
        width: 700px;

        &:after {
            width: 200px;
            height: 131px;
        }
    }

    .order__info {
        padding-left: 180px;
    }

    .order__txt {
        font-size: 14px;
        line-height: 16px;
    }

    .order__images {
        width: 680px;
    }

    .order__images-pic {
        width: 220px;
    }

    .order__extra-info {
        left: 30px;
        bottom: -120px;
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .order__fav-images {
        width: 680px;

        &-pic{
            width: 220px;
        }
    }

   .order__extra-infofav {
        right: 60px;
        bottom: -180px;
        font-size: 14px;
        padding: 35px 40px;
    }
}

@include respond(760px) {

    .order__wrapper {
        max-width: 320px;

        &::after {
            width: 100px;
            height: 65px;
        }
    }

    .order__info {
        padding-left: 0;
    }

    .order__title {
        padding: 0;
        margin-left: 0;
    }

    .order__txt {
        margin-left: 0;
        padding-left: 0;
        font-size: 12px;
        line-height: 16px;
    }

    .order__images {
        width: 300px;
        flex-wrap: wrap;

        &-pic {
            margin-bottom: 10px;
            width: 100%;
        }

       .order__extra-info {
            left: 0;
            right: 0;
            width: auto;
            font-size: 12px;
            line-height: 16px;
            margin: 10px;
       }
    }

    .order__fav-images {
        width: 300px;
        flex-wrap: wrap;
        &-pic{
            width: 100%;
            margin-bottom: 10px;
        }

    }

    .order__extra-infofav {
        left: 0;
        right: 0;
        width: auto;
        font-size: 12px;
        line-height: 16px;
        margin: 10px;
    }
}