/* product media*/

@include respond(1500px) {

    .product__wrapper {
        max-width: 1200px;
    }

    .product__txt {
        width: 420px;
    }
}

@include respond(1280px) {

    .product {
        min-height: auto;
    }

    .product__wrapper {
        max-width: 900px;
        min-height: auto;
    }

    .product__rotate {
        font-size: 15px;
        letter-spacing: 5px;
        width: 200px;
        line-height: 20px;
        left: 10px;

        &:after {
            top: -6px;
            width: 70px;
        }
    }

    .product__info {
        padding-top: 60px;
    }

    .product__txt {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 25px;
    }

    .product__img {
        padding-top: 10px;
    }
}

@include respond(1024px) {

    .product__wrapper {
        width: 700px;
        padding-top: 20px;
    }


    .product__info {
        padding-top: 50px;
    }

    .product__rotate {
        left: -50px;
    }

    .product__txt {
        padding-left: 90px;
        line-height: 15px;
        font-size: 14px;
        width: 250px;
    }

}

@include respond(760px) {

    .product__wrapper {
        max-width: 320px;
        flex-direction:column;
    }

    .product__info{
        padding-top: 0;
    }

    .product__rotate {
        transform: initial;
        position: relative;
        text-align: left;
        left: initial;
        top: initial;

        &:after{
            top: -5px;
            right: initial;
            left: 0;
        }
    }

    .product__txt {
        padding-left: 0;
        line-height: 15px;
        font-size: 12px;
    }
}