/* thanks media*/

@include respond(1500px) {

    .thanks {
        padding-bottom: 110px;
    }

    .thanks__wrapper {
        max-width: 1200px;
    }

    .thanks__title{
        font-size: 60px;

        &-red{
            font-size: 80px;
            left: 555px;
        }
    }
}


@include respond(1280px) {

    .thanks__wrapper {
        max-width: 900px;
    }

    .thanks__title {
        font-size: 40px;

        &-red {
            font-size: 60px;
            left: 475px;
        }
    }
}

@include respond(1024px) {

    .thanks__wrapper {
        max-width: 700px;
    }

    .thanks__title {
        font-size: 40px;

        &-red {
            font-size: 60px;
            left: 375px;
        }
    }

}

@include respond(760px) {

    .thanks{
        padding-top: 50px;
    }

    .thanks__wrapper {
        max-width: 320px;
    }

    .thanks__title{
        &-red{
            left: 90px;
            bottom: -10px;
            font-size: 35px;
        }
    }
}