/* welcome media*/


@include respond(1500px) {

    .welcome__wrapper {
        max-width: 1200px;
    }

    .welcome__logo {
        max-width: 600px;
    }

    .welcome__circle {
        width: 400px;
        height: 400px;

        &:before {
            right: 0;
            bottom: -80px;
        }

        &:after {
            right: 60px;
            bottom: -10px;
        }
    }

    .welcome__rotate-txt {
        left: 300px;
    }
}

@include respond(1280px) {

    .welcome__wrapper {
        max-width: 900px;
        min-height: 670px;

        &:after {
            width: 100px;
            height: 72px;
            bottom: 150px;
            left: 105px;
        }
    }

    .welcome__logo {
        max-width: 400px;
    }

    .welcome__circle {
        width: 300px;
        height: 300px;

        &:before {
            width: 100px;
            height: 100px;
            bottom: -40px;
        }

        &:after {
            width: 125px;
            height: 100px;
            right: 20px;
            bottom: -20px;
        }
    }

    .welcome__circle-title {
        font-size: 18px;
        text-align: center;
        width: 200px;
        margin: 0 auto;
    }

    .welcome__circle-text {
        line-height: 20px;
        text-align: center;
    }

    .welcome__rotate-txt {
        transform: initial;
        width: 180px;
        font-size: 20px;
    }
}

@include respond(1024px) {

    .welcome__wrapper {
        width: 700px;
        min-height: 500px;

        &:after{
            display: none;
        }
    }

    .welcome__logo {
        max-width: 300px;
    }

    .welcome__circle {
        width: 250px;
        height: 250px;

        &:before {
            bottom: -60px;
        }

        &:after {
            bottom: -40px;
        }

    }

    .welcome__circle-info {
        width: 200px;
    }

    .welcome__circle-title {
        font-size: 15px;
        line-height: 20px;
    }

    .welcome__circle-text {
        font-size: 14px;
    }

    .welcome__rotate-txt {
        left: 40px;
        bottom: 120px;
        width: auto;
        font-size: 16px;
        letter-spacing: 4px;

        &:after {
            top: -5px;
        }
    }
}

@include respond(760px) {

    .welcome__wrapper {
        max-width: 320px;
        flex-direction: column;
        min-height: 400px;
    }

    .welcome__logo {
        padding-top: 50px;
    }

    .welcome__circle {
        width: 250px;
        height: 200px;
        background: none;

        &:before {
            bottom: 0;
            width: 50px;
            height: 50px;
            right: -25px;
        }

        &:after {
            bottom: 20px;
            width: 50px;
            height: 40px;
            right: -10px;
        }
    }

    .welcome__rotate-txt {
        display: none;
    }
}