/* adaptability*/
.adaptability {
    background-color: #fff;
}

.adaptability__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1420px;
    padding: 0 10px;
    padding-top: 60px;
    padding-bottom: 80px;
    margin: 0 auto;

    &:after {
        content: "";
        position: absolute;
        background-image: url("../images/content/pan.png");
        background-size: cover;
        width: 651px;
        height: 382px;
        left: 0;
        top: -50px;
    }

}

.adaptability__info {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 70px;
}

.adaptability__text {
    display: flex;
    flex-direction: column;
    width: 280px;
}

.adaptability__title {
    position: relative;
    text-align: right;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    margin-top: 90px;
    letter-spacing: 3px;
    width: 235px;

    &:after {
        content: "";
        position: absolute;
        top: -40px;
        right: 0;
        display: inline-block;
        height: 2px;
        width: 80px;
        background-color: red;
    }
}

.adaptability__txt {
    font-size: 16px;
    line-height: 36px;
    width: 235px;
    margin: 0;
    padding: 0;
}

.adaptability__imgs {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    align-items: flex-start;

    &-pic {
        max-width: 500px;

        &:nth-child(2) {
            position: relative;
            top: 50px;
        }

        &:nth-child(3) {
            position: relative;
            top: -180px;
        }

        &:nth-child(4) {
            position: relative;
            top: 20px;
        }
    }
}