/* cabinet */
.cabinet {
    position: relative;
    z-index: 2;
    background-color: #f5f5f5;
}

.cabinet__wrapper {
    position: relative;
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;

    &:after {
        content: "";
        position: absolute;
        background-image: url("../images/content/specii.png");
        background-size: cover;
        width: 195px;
        height: 276px;
        left: 0;
        right: 0;
        margin: auto;
        top: -80px;
    }

    &:before {
        content: "";
        position: absolute;
        background-image: url("../images/content/specii-2.png");
        background-size: cover;
        width: 142px;
        height: 131px;
        left: -170px;
        top: 500px;
    }

}

.cabinet__half {
    width: 50%;

    &:first-child {
        padding-right: 20px;
    }

    &:last-child {
        padding-left: 20px;
    }

}

.cabinet__title {
    font-size: 85px;
    position: relative;
    margin-left: 45px;
    margin-bottom: 70px;
    margin-top: 0;

    &-white {
        color: #fff;
        font-weight: bold;
    }

    &-red {
        font-family: 'Conv_TT Compotes Apple';
        position: absolute;
        bottom: -30px;
        left: 90px;
        color: red;
    }

}

.cabinet__images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;

    &-pic {
        max-width: 300px;
    }

}

.cabinet__txt {
    position: relative;
    width: 250px;
    font-size: 16px;
    line-height: 30px;
    margin-left: 60px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: -470px;
        background-image: url("../images/content/specii-3.png");
        background-size: cover;
        width: 415px;
        height: 212px;
    }
}

.cabinet__enter-img {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 80px;
    margin-top: 20px;

    &-pic {
        max-width: 400px;
    }
}

.cabinet__personal-txt {
    font-size: 16px;
    line-height: 30px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.cabinet__personal-img {
    position: relative;
    z-index: 2;

    &-pic {
        width: 100%;
    }
}