/* catalog */

.catalog {
	background-color: #f5f5f5;
    position: relative;
    min-height: 570px;
}

.catalog__wrapper {
	position: absolute;
    left: 0;
    right: 0;
	max-width: 1420px;
	padding: 0 10px;
	padding-top: 85px;
	margin: 0 auto;
	top: -590px;
	background-color: #fff;
	display: flex;
	flex-direction: column;

	&:after {
        content:"";
        position: absolute;
        right: 0;
        top: 130px;
        width: 500px;
        height: 500px;
        background-image: url("../images/content/salad.png");
        background-size: cover;
    }
}

.catalog__title {
	font-size: 85px;
	position: relative;
	margin-left: 115px;
    margin-bottom: 60px;

	&-red {
        font-family: 'Conv_TT Compotes Apple';
		position: absolute;
		bottom: -25px;
        left: 160px;
		color: red;
	}

	&-black {
		color: #000;
        font-weight: bold;
	}
}

.catalog__info{
    position: relative;
}

.catalog__rotate-txt {
    @extend .main-page__rotate-txt;
    color:#000;
    left: 90px;
    top: 60px;
}

.catalog__txt {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 30px;
    padding-left: 280px;
    width: 850px;
}

.catalog__img {
    margin-left: 115px;
    max-width: 1200px;
    position: relative;
    z-index: 1;
    img {
        width: 100%;
    }
}