/* main-page */

.main-page {
	min-height: 200px;
	padding-bottom: 590px;
}

.main-page__wrapper {
	max-width: 1420px;
	padding: 0 10px;
	margin: 0 auto;
	display: flex;
}

.main-page__img {
	position: relative;
    top: -75px;
    left: 40px;
    width: 910px;
}

.main-page__img-pic {
	width: 100%;
}

.main-page__info {
	min-width: 465px;
    position: relative;
    min-height: 30px;
    padding-top: 170px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.main-page__title {
	font-size: 85px;
	position: relative;
	margin-left: 45px;
	margin-bottom: 160px;

	&-red {
        font-family: 'Conv_TT Compotes Apple';
		position: absolute;
		top: -35px;
		left: 130px;
		color: red;
        font-size: 90px;
	}

	&-white {
		color: #fff;
        font-weight: bold;
	}
}

.main-page__txt-block {
	position: relative;
    margin-bottom: 100px;
}

.main-page__rotate-txt {
	position: absolute;
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    transform: rotate(-90deg);
    letter-spacing: 10px;
    text-transform: uppercase;
    text-align: right;
	left: -80px;
    top: 120px;
    padding: 0;
    margin: 0;

    &:after {
        content:"";
        position: absolute;
        top: -25px;
        right: 0;
        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: red;
    }
}


.main-page__rotate-txtlines {
	@extend .main-page__rotate-txt;
	left: -10px;
    top: 50px;
}

.main-page__txt {
	font-size: 18px;
    line-height: 35px;
    color: #fff;
    margin-bottom: 30px;
    padding-left: 180px;
    width: 460px;
}