/* order */

.order {
    min-height: 500px;
    background-color: #f5f5f5;
}

.order__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1420px;
    padding: 0 10px;
    padding-top: 105px;
    margin: 0 auto;
    position: relative;
    background-image: url("../images/content/bg-gray.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 3;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 50px;
        background-image: url("../images/content/egg.png");
        background-size: cover;
        width: 515px;
        height: 340px;
    }
}
/*
.order__wrapper-salad {
    position: relative;
    &:before{
        content: "";
        display: inline-block;
        position: absolute;
        bottom: 100px;
        left: -150px;
        background-image: url("../images/content/salad-order.png");
        background-size: cover;
        width: 251px;
        height: 374px;
        z-index: -1;
    }
}
*/
.order__info {
    padding-left: 660px;
}

.order__title {
    font-size: 85px;
    position: relative;
    margin-left: 45px;
    margin-bottom: 70px;

    &-white {
        color: #fff;
        font-weight: bold;
    }

    &-red {
        font-family: 'Conv_TT Compotes Apple';
        position: absolute;
        bottom: -30px;
        left: 210px;
        color: red;
    }
}

.order__txt {
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 30px;
    max-width: 600px;
    color: #fff;
}

.order__img {
    max-width: 1090px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;

    &-pic {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    &:after {
        content: "";
        position: absolute;
        top: 60px;
        right: -170px;
        background-image: url("../images/content/brokkoli.png");
        background-size: cover;
        width: 395px;
        height: 348px;
        z-index: 0;
    }
}

.order__images {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    width: 1090px;
    margin: 0 auto;

    margin-bottom: 130px;

    &-pic{
        max-width: 330px;
    }
}

.order__extra-info {
    position: absolute;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    border: 1px solid red;
    bottom: 10px;
    left: -200px;
    padding-top: 70px;
    padding-right: 70px;
    padding-left: 95px;
    padding-bottom: 55px;
    width: 480px;
}

.order__extra-infofav {

    position: absolute;
    right: -460px;
    font-size: 16px;
    line-height: 30px;
    border: 1px solid red;
    color: #fff;
    bottom: -5px;
    width: 550px;
    padding-left: 140px;
    padding-top: 70px;
    padding-right: 110px;
    padding-bottom: 70px;
}

.order__fav-images {
    position: relative;
    margin-left: 100px;
    width: 875px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin-bottom: 210px;

    &-pic {
        width: 260px;
    }
}