/* product */

.product {
    min-height: 570px;
    background-color: #f5f5f5;
}

.product__wrapper {
    display: flex;
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 570px;
    background-color: #fff;
}

.product__info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 260px;
}

.product__rotate {
    @extend .main-page__rotate-txt;
    margin: 0;
    color:#000;
    left: 50px;
    top: 100px;
    width: 250px;
}

.product__txt {
    @extend .catalog__txt;
    width: 380px;
    padding-left: 150px;
}

.product__img {
    max-width: 1000px;
    padding-top: 30px;
}

.product__img-pic {
    width: 100%;
}