/* thanks */

.thanks {
    background-color: #fff;
    text-align: center;
    padding-bottom: 210px;
}

.thanks__wrapper {
    max-width: 1420px;
    padding: 0 10px;
    margin: 0 auto;
}

.thanks__title {
    font-size: 85px;
    position: relative;

    &-red {
        font-family: 'Conv_TT Compotes Apple';
        position: absolute;
        bottom: -25px;
        left: 625px;
        color: red;
    }

    &-black
    {
        font-weight: bold;
    }
}