/* welcome */

.welcome {
	padding-top: 30px;
}


.welcome__wrapper {
	max-width: 1420px;
    padding:0 10px;

	margin: 0 auto;
	border: 1px solid red;
    min-height: 870px;
    position: relative;
    display: flex;
    justify-content: space-between;

    &:after {
        content: "";
        position: absolute;

        bottom: 110px;
        left: 35px;
        width: 148px;
        height: 108px;
        background-image: url('../images/content/leaf.png');
        background-size: cover;
    }
}

.welcome__logo {

    left: 60px;
    margin: auto;
    max-width: 750px;
    &-img{
        width: 100%;
    }
}



.welcome__circle {
	position: relative;
    margin: auto;
    height: 450px;
    width: 450px;
    background-color:  red;
    border-radius: 50%;
    display: flex;
    flex-direction: column;

    &:after {
        content:"";
        width: 155px;
        height: 127px;
        position: absolute;
        bottom: 10px;
        right: 50px;
        background-image: url("../images/content/mint.png");
        background-size: cover;
    }


    &:before {
        content:"";
        width: 165px;
        height: 165px;
        position: absolute;
        bottom: -60px;
        right: -10px;
        background-image: url("../images/content/flower.png");
        background-size: cover;
        z-index: 2;
    }


	&-info {
		margin: auto;
	    width: 280px;
	}

    &-title {
    	color: #fff;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 30px;
        font-weight: 100;
        text-align: left;
        margin-bottom: 35px;
    }

    &-text {
    	color: #fff;
        text-align: left;
        font-size: 16px;
        line-height: 30px;
    }
}

.welcome__rotate-txt {

    width: 210px;
    bottom:  160px;
    left: 400px;

    position: absolute;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    transform: rotate(-90deg);
    letter-spacing: 7px;
    font-weight: 100;
    text-align: right;
    text-transform: uppercase;


    &:after {
        content:"";
        position: absolute;
        top: -25px;
        right: 0;

        display: inline-block;
        width: 100px;
        height: 2px;
        background-color: red;
    }
}